.check-email-container {
  background-color: white;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 40px 30px;
  width: 350px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 80px auto;
}

.email-icon {
  width: 60px;
  height: 60px;
  background-color: #7bdff2;
  border-radius: 50%;
  margin: 0 auto 20px;
  border: 2px solid #333;
}

.email-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #222;
}

.email-subtitle {
  font-size: 14px;
  margin-bottom: 25px;
  color: #444;
}

.email-address {
  font-weight: bold;
}

.open-app-button {
  padding: 10px 20px;
  background-color: #a3e4f2;
  color: #004c66;
  font-size: 1rem;
  border: 2px solid #4db8cc;
  border-radius: 10px;
  cursor: pointer;
}
.resend-text {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
}

.click-link {
  font-weight: bold;
  cursor: pointer;
  color: #3742fa;
}

.back-to-login {
  font-size: 13px;
  color: #3742fa;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
}
.back-login:hover {
  text-decoration: underline;
}
