.course-detail-container {
  font-family: Arial, sans-serif;
 
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  border-radius: 10px;
}

.course-header {
  background-color: #A5D7FF;
  padding: 20px;
  border-radius: 10px;
}

.course-header h2 {
  margin: 0;
  color: #004f9e;
}

.course-header .subtitle {
  font-size: 16px;
  color: #0077cc;
  margin-top: 8px;
}

.course-header .updated-date,
.course-header .last-update {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.course-body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.course-tabs {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  flex: 2;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  gap: 20px;
}

.tab {
  cursor: pointer;
  color: #555;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
    cursor: pointer;
  padding: 8px 12px;
  font-weight: bold;
}

.tab.active {
  font-weight: bold;
    color: #000;
  border-bottom: 2px solid #000;
}

.tab:hover {
  background-color: #d6e9f8;
}

.tab-content {
  padding: 15px 20px;
  border-radius: 10px;
  line-height: 1.6;
  font-size: 15px;
  color: #333;
}

.tab-content h4 {
  margin-top: 0;
  color: #222;
}

.course-sidebar {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  min-width: 220px;
}

.thumbnail {
  width: 100%;
  height: 150px;
  background: repeating-linear-gradient(45deg, #cceeff, #cceeff 10px, #e6f7ff 10px, #e6f7ff 20px);
  border: 1.5px solid #636464;
  border-radius: 12px;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button {
  width: 40px;
  height: 40px;
  background-color: #a3e4f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #636464;
}

.play-button span {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.start-button,
.start-now {
  width: 100%;
  background-color: #00b4d8;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
}

.course-info-list {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  text-align: left;
  margin-top: 1rem;
}

.course-info-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  color: #333;
  font-weight: 500;
}

.course-info-list li strong {
  margin-left: 8px;
  font-weight: 600;
}

.course-info-list li svg {
  flex-shrink: 0;
  margin-right: 12px;
  font-size: 1.2rem;
  color: #1d72b8;
}

.course-info-list li span {
  margin-left: auto;
  font-weight: normal;
}
