 
.fp-container {
  width: 350px;
  margin: 80px auto;
  padding: 30px 25px;
  border: 2px solid #333;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.fp-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}
 
.fp-label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  margin-top: 15px;
}
 
.fp-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #666;
  margin-bottom: 10px;
  box-sizing: border-box;
}
 
.fp-send-mail-button {
    padding: 10px 20px;
  background-color: #a3e4f2;
  color: #004c66;
  font-size: 1rem;
  border: 2px solid #4db8cc;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
}
 
.fp-send-mail-button:hover {
  background-color: #42b6dd;
}
 
.fp-navigation-links {
  margin-top: 15px;
  text-align: center;

}
 
.fp-back-link,
.fp-set-password-link {
  color: #3742fa;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}
