 .register-container{
  width: 340px;
  margin: 60px auto;
  padding: 20px 16px; 
  border: 2px solid #333;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.08);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  padding: 8px; 
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.button {
  padding: 8px 16px; 
  background-color: #a3e4f2;
  color: #004c66;
  font-size: 0.95rem;
  border: 2px solid #4db8cc;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: #42b6dd;
}

.error {
  color: red;
  font-size: 13px;
}

