@media only screen and (max-width: 575px) {
  .settings-page-div {
    padding-top: 20px;
    margin-left: 0;
    align-items: flex-start;
  }

  .settings-title {
    font-size: 22px;
    margin-right: 0;
    margin-left: 1rem;
    text-align: left;
  }

  .change-password-form {
    width: 90%;
    margin-left: 1rem;
    padding: 20px;
  }

  .form-group {
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
  }

  .form-left input,
  .form-right input {
    width: 100%;
  }

  .update-btn {
    width: 100%;
  }
}

/* Medium devices (≥576px) */
@media (min-width: 576px) {
  .change-password-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-group {
    flex-direction: column;
    gap: 30px;
    margin-left: 0;
  }

  .form-left input,
  .form-right input {
    width: 100%;
  }

  .update-btn {
    width: 50%;
  }
}

/* Large devices (≥768px) */
@media (min-width: 768px) {
  .change-password-form {
    width: 75%;
  }

  .form-group {
    flex-direction: row;
    gap: 100px;
    margin-left: 2rem;
  }

  .form-left input,
  .form-right input {
    width: 14rem;
  }

  .update-btn {
    width: 8rem;
  }
}

/* Extra large devices (≥992px) */
@media (min-width: 992px) {
  .change-password-form {
    width: 60rem;
    margin-left: 150px;
  }

  .form-group {
    gap: 150px;
    margin-left: 4rem;
  }

  .form-left input,
  .form-right input {
    width: 16rem;
  }

  .update-btn {
    width: 7rem;
  }
}
