.task-tracker {
  padding: 2rem;

}

.trainee-card {
  display: flex;
  align-items: center;
  background: #a5d7ff;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.trainee-photo {
  width: 200px;
  height: 200px;
  margin-right: 5rem;
  color: #aab4b4;
  background-color: #e1e6e6;
}

.trainee-info h2 {
  margin: 0;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  gap: 20px;
}

.tab {
  cursor: pointer;
  color: #555;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 8px 12px;
  font-weight: bold;
}

.tab.active {
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid #000;
}

.tab:hover {
  background-color: #d6e9f8;
}

.layout-border {
  border: 1px solid black;
  border-radius: 10px;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
}

.course-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.thumbnail {
  height: 100px;
  background-color: #eef;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.tracker-container {
  display: flex;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 25px;
    flex-wrap: wrap;
    gap: 20px;
    
}
