.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px 20px;
  background-color: #a3e4f2;
  color: #004c66;
  font-size: 1rem;
  border: 2px solid #4db8cc;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
}

.login-container {
  padding: 40px;
  text-align: center;
}
