.search-icon {
  position: absolute;
  font-size: 17px;
  color: #555;
  position: absolute;
  right: 15rem;

  top: 30px;
}

.search-input {
  border: none;
  outline: none;
width: 80%;
  font-size: 16px;
  background: transparent;
  color: #333;
  margin-bottom: 20px;
}

.search-input::placeholder {
  color: #888;
  font-weight: 400;
}
