.hamburger {
  position: absolute;
  top: 33px;
 
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-layout {
  display: flex;
}

.toggle-content {
  flex: 1;
  margin-left: 0;
  padding: 20px;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  border: none;
  background: none;
  cursor: pointer;
}
